.body {
    color: white;
    margin: 0px;
    padding: 0px;
    /* background:url(/media/bg1.jpg); */
    background: no-repeat center/80% url("../media/bg1.jpg");
    font-family: 'Baloo Da 2', cursive;
    background-repeat: no-repeat;
    /* background-size: 100vw; */
    background-size: contain;
    /* background-size: 1345px 663px; */
}
.left{
    position: fixed;
    display: inline-block;
    left: 40px;
    top: 20px;
    display: inline-block;
    
}
.left div{
    text-align: center;
    line-height: 10px;
    font-size: 18px;
}
.left img{
    width: 110px;
    
}
.mid{
    position: fixed;
    display: block;
    width: 60%;
    margin: 20px 180px;
}
.right{
    position: fixed;
    display: inline-block;
    right: 20px;
    top: 30px;
    

}
.navbar{
    display: inline-block;
    color: white;
}
.navbar li{
    display: inline-block;
    font-size: 25px;
}

.navbar li a{
    color: white;
    text-decoration: none;
    padding: 34px 23px;

}
.navbar li a:hover, .navbar li a.active{
    text-decoration: underline;
    }
.btn{
    margin: 0px 10px;
    background-color: azure;
    color: rgb(83, 83, 184);
    padding: 4px 10px;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    font-family: 'Baloo Da 2', cursive;
}
.btn:hover{
    background-color: gray;

}
.container{ 
    margin: 70px 780px;
    padding: 50px;
    width: 30%;
} 
.container h1{
    text-align: center;
    
}
.form-group input{
    font-size: 10px;
    text-align: center;
    display: block;
    width: 250px;
    padding: 6px;
    border: 2px solid black;
    margin: 10px auto;
    border-radius: 4px;
    font-family: 'Baloo Da 2', cursive;
    
    

}
.container button{
    display: block;
    margin: 20px auto;
    width: 20%;
}
